h1 {
  text-align: center;
}
ul.nav {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 16px;
  border-bottom: 2px solid gray;
  margin-bottom: 16px;
}
ul.nav li {
  border: 1px solid black;
  padding: 8px;
  margin: 5px;
}
ul.nav li:hover {
  background-color: rgb(187, 223, 246);
}
ul.nav li a {
  text-decoration: none;
  color: black;
}
table,
td,
th {
  border: 1px dotted black;
  padding: 8px;
}
table {
  border-collapse: collapse;
  width: max-content;
  margin: 20px auto;
}
thead {
  background-color: darkred;
  color: white;
}
tbody tr:nth-child(odd) {
  background-color: orange;
}
tbody tr:nth-child(even) {
  background-color: yellow;
}
form {
  width: max-content;
  margin: 20px auto;
}
#result {
  width: max-content;
  margin: 10px auto;
}
.square_row {
  margin: 0px;
  height: 15px;
}
.square_row span {
  display: inline-block;
  width: 15px;
  height: 15px;
}
.error {
  color: red;
}
