h1 {
  text-align: center;
}
ul.nav {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 16px;
  border-bottom: 2px solid gray;
  margin-bottom: 16px;
}
ul.nav li {
  border: 1px solid black;
  padding: 8px;
  margin: 5px;
}
ul.nav li:hover {
  background-color: rgb(187, 223, 246);
}
ul.nav li a {
  text-decoration: none;
  color: black;
}
.part-1 form {
  width: max-content;
}
.part-1 form div {
  margin-top: 10px;
  text-align: right;
}

.part-1 #message .error {
  color: red;
}
.part-2 form {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.part-2 form label {
  margin-top: 10px;
}
.part-2 form div {
  margin-top: 10px;
}

.part-3 form {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.part-3 input {
  margin-bottom: 10px;
}
