h1 {
  text-align: center;
}
ul.nav {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 16px;
  border-bottom: 2px solid gray;
  margin-bottom: 16px;
}
ul.nav li {
  border: 1px solid black;
  padding: 8px;
  margin: 5px;
}
ul.nav li:hover {
  background-color: rgb(187, 223, 246);
}
ul.nav li a {
  text-decoration: none;
  color: black;
}

.part2Content {
  width: 500px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
}
.part2Content .inputGroup label {
  font-weight: bold;
}
.part2Content .inputGroup input {
  width: 100%;
  margin: 5px 0;
  padding: 5px;
  font-size: 16px;
}
.part2Content .btnGroup {
  align-self: end;
}
.part2Content .btnGroup button {
  margin: 8px;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 8px;
  border-color: darkgray;
  cursor: pointer;
}
.part2Content .btnGroup button:nth-child(1) {
  background-color: rgb(96, 211, 96);
}
.part2Content .btnGroup button:nth-child(2) {
  background-color: rgb(241, 163, 163);
}
