h1 {
  text-align: center;
}
ul.nav {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 16px;
  border-bottom: 2px solid gray;
  margin-bottom: 16px;
}
ul.nav li {
  border: 1px solid black;
  padding: 8px;
  margin: 5px;
}
ul.nav li:hover {
  background-color: rgb(187, 223, 246);
}
ul.nav li a {
  text-decoration: none;
  color: black;
}

#gradeForm {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
}
#gradeForm input {
  margin-bottom: 8px;
}
#gradeForm label {
  margin-bottom: 4px;
  font-weight: bold;
}
#gradeForm .btnGroup {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
#gradeForm .btnGroup button:nth-child(1) {
  background-color: rgb(142, 235, 142);
}
#gradeForm .btnGroup button:nth-child(2) {
  background-color: rgb(255, 203, 203);
}
#gradeForm .btnGroup button {
  margin-left: 20px;
  padding: 8px;
  cursor: pointer;
  border: 2px solid gray;
  border-radius: 5px;
}
#gradeResult {
  width: 300px;
  margin: 0 auto;
}
#salesForm {
  width: 400px;
  margin: 0 auto;
}
#salesForm > div {
  margin-bottom: 10px;
}
#salesForm button {
  display: block;
  margin-bottom: 10px;
}
#salesResult {
  width: 400px;
  margin: 0 auto;
}
#salesResult input {
  text-align: right;
}
#equation input {
  display: inline;
  width: 100px;
  text-align: right;
}
#equation span {
  margin: 0 10px;
}
#game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#game > div {
  margin-bottom: 20px;
}
#gameResult {
  text-align: center;
}
#gameResult > button {
  margin: 0 20px;
  cursor: pointer;
}
